<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>On the Road</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/predefined.css">
  <link rel="stylesheet" href="../static/style.css">

</head>

<body>

<div class="fading">
    <img class="logo"  src="../static/logo.jpg">
    <h1>Towards a Tunnel</h1>
                <form  method="POST" action="/main">
                    <button  class="btn btn-info" >DRIVE NOW</button><br><br>
            </form>
</div>

<section class="context">

  <div class="crawl">
    
      <p>Watch the car driving on the road. Please fasten your seatbelt and enjoy the ride.</p>      
      <p>During the ride, a menacing looking tunnel confronts us and the driver is concerned about the darkness. But thanks to the sensors on the tunnel. The dark tunnel lights up when it senses the car approaching. Thanks to the sensors!</p>

  </div>

</section>

   
</body>
</html>