<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>On the Road</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <img class="logo"  src="../static/logo.jpg">
    <h1>Long drive</h1>
    
            <form  class="button_form col-lg-4 col-sm-6"  method="POST" action="/1" target="_blank">
                    <input class="fb" type="image" src="../static/b1.gif" ><br><br>
                    <button  class="btn btn-danger pb" >Lets GO</button><br><br>
            </form>
            

            <form class="button_form col col-lg-4 col-sm-6"  method="POST" action="/2" target="_blank">
                    <input class="sb" type="image" src="../static/b2.gif" ><br><br>
                    <button class="btn btn-info db" >Inside tunnel</button><br><br>
            </form>
     



        
        
            


</body>
</html>